# Configurações do Banco de Dados MySQL
DB_HOST=mysql
DB_PORT=3306
DB_NAME=unifind_db
DB_USER=unifind_user
DB_PASSWORD=unifind_pass
DB_ROOT_PASSWORD=rootpassword

# Configurações do Cache e Fila Redis (Opcional)
REDIS_HOST=redis
REDIS_PORT=6379

# Porta da aplicação Web
WEB_PORT=8000
